[window]
title = ""
icon = "link.png"
toolbar = true
frame = true
width = 1280
height = 720
fullscreen = false
resizetomonitor = false
resizemonitorwidth = 50
resizemonitorheight = 100
resizable = true
min_width = 800
min_height = 640
max_width = 1366
max_height = 2160
openDevTools = true
position = "center"
autoHideMenuBar = false
useContentSize = true
nodeIntegration = false
contextIsolation = true
webSecurity = true
enableRemoteModule = false
show = false
url = ""
page = ""
el = "localapi"

[production]
defaulturl=""
remote = { cdn = "" }
[production.upload]
disk = 5120         # 1024 * 5000 is > 5MB save to file 
stream = 61440      # 1024 * 60000 > 60MB save as streamable
location = ""

[debug]
defaulturl=""
remote = { cdn = "https://cdn.jsdelivr.net" }
[debug.upload]
disk = 5120         # 1024 * 5000 is > 5MB save to file 
stream = 61440      # 1024 * 60000 > 60MB save as streamable
location = ""
