<statement name="footer" action="overwrite">
  <!-- FOOTER -->
  <footer class="grid">
    <!-- Footer - top -->
    <!-- Image-->
    <div class="s-12 l-3 m-row-3 margin-bottom background-image footerimg"></div>

    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
      <h2 class="text-strong text-uppercase">Who We Are?</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy.</p>
    </div>

    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
      <h2 class="text-strong text-uppercase">Where We Are?</h2>
      <img class="full-img" src="<-{locally}>/public/assets/img/map.svg" alt="" />
    </div>

    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
      <h2 class="text-strong text-uppercase">Contact Us</h2>
      <p><b class="text-primary margin-right-10">P</b> 0800 4521 800 50</p>
      <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover"
          href="mailto:contact@sampledomain.com">contact@sampledomain.com</a></p>
      <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover"
          href="mailto:office@sampledomain.com">office@sampledomain.com</a></p>
    </div>

    <!-- Footer - bottom -->
    <div class="s-12 text-center margin-bottom">
      <p class="text-size-12">Copyright 2019, Vision Design - graphic zoo</p>
      <p class="text-size-12">All images have been purchased from Bigstock. Do not use the images in your website.</p>
      <p><a class="text-size-12 text-primary-hover" href="http://www.myresponsee.com"
          title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a></p>
    </div>
  </footer>
</statement>