<statement name="head" action="append">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/index.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/components.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/icons.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/responsee.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/owl-carousel/owl.theme.css">
  <link rel="stylesheet" href="<-{locally}>/public/assets/css/template-style.css">
</statement>