<statement name="head" action="append">
  <script type="text/javascript" src="<-{remotely}>/npm/jquery-1.8@1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="<-{locally}>/public/assets/js/model/jquery-ui.min.js"></script>
  <script type="text/javascript" src="<-{locally}>/public/assets/js/model/responsee.js"></script>
  <script type="text/javascript" src="<-{locally}>/public/assets/js/model/owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="<-{locally}>/public/assets/js/model/template-scripts.js"></script>
</statement>